<h2>{ <%= @repo.format_name(@repo.name) %> }</h2>

<div class="show-inner-main">
  <div class="show-inner show-info">
    <%= render "repos/read_me/#{@repo.name}" %>
    <%= link_to @repo.html_url, target: '_blank', class: 'btn btn-flat', id: 'btn-website' do %>
      <p>Website</p>
    <% end %>
  </div>
  <div class="show-inner show-commits">
    <p>Latest commits</p>
    <ul class="show-commits-inner">
      <% @repo.commits.each do |commit| %> 
        <%= link_to commit.html_url, target: '_blank' do %>
          <li><i class="fas fa-heart"></i><%= commit.message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>