<h1>Joanas#show</h1>
<p>Find me in app/views/joanas/show.html.erb</p>
<h6><%= @joana.name %></h6>
<p><%= @joana.username %></p>
<p><%= @joana.location %></p>
<p><%= @joana.email %></p>

<%= link_to 'Repos', joana_repos_path(@joana) %>